<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HasTea</title>
  <link rel="shortcut icon" href="/img/favicon.png">
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/css.css" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/bootstrap/js/typeahead.bundle.js"></script>
  <script src="/bootstrap/js/popper.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/js.js"></script>

 <body>
  <header>
    <% if @user %>
      <nav class="navbar navbar-expand-md navbar-dark navbar-fixed-top bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">HasTea</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                  <a class="nav-link" href="/projects"><i class="mr-1 far fa-folder-open"></i>EXAMPLE</a>
                </li>



              </ul>
              <ul class="navbar-nav float-right ml-auto">
                <li class="nav-item dropdown float-right">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="mr-1 fas fa-user"></i><%= @user.first_name %> <%= @user.last_name %></a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/user/preferences"><i class="mr-1 fas fa-cog"></i>User Preferences</a>
                    <a class="dropdown-item" href="/logout"><i class="mr-1 fas fa-sign-out-alt"></i>Logout</a>
                  </div>
                </li>
              </ul>
            </div>


      </div>
      </nav>
      <% end %>

  </header>
