<div class="container nav-sep" style="width:100%;height:100%;">
  <h2>Start a Run</h2><hr>
  <div class = "container col-6 float-left" style="width:100%;height:100%;">
    <script src="https://apis.google.com/js/api.js" type="text/javascript"></script>
    <script type="text/javascript">
      gapi.load('auth2', function() {
        // Library loaded.
      });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.credentials.maps_api%>&libraries=places"></script>

    <script>
      var map;
      var loc;
      var service;
      var infowindow;
      function initialize() {
        var ucsb = {lat:34.420870, lng:-119.698340};
        map = new google.maps.Map(document.getElementById('map'), {zoom:12, center:ucsb});
        infowindow = new google.maps.InfoWindow();
      }

      function genMap() {
        var query = document.getElementById('searchnav').value.trim();
        console.log(query);
        var request = {
          query: query,
          fields: ['geometry']
        };
        service = new google.maps.places.PlacesService(map);
        service.findPlaceFromQuery(request, callback);
      }

      function callback(results, status){
        if (status == google.maps.places.PlacesServiceStatus.OK) {
          loc = results[0].geometry.location;
          map.setCenter(loc);
          request = {
            location: {lat: loc.lat(), lng: loc.lng()},
            radius: 8000,
            keyword: "boba"
          };
          service.nearbySearch(request, callback2);
        }
      }

      function callback2(results, status) {
        if (status == google.maps.places.PlacesServiceStatus.OK) {
          for (var i = 0; i < results.length; i++) {
            var place = results[i];
            createMarker(results[i]);
          }
        }
      }

      function createMarker(place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(place.name);
          infowindow.open(map, this);
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    <input type="text" class="form-control" id="searchnav"/>
    <button class="btn btn-sm btn-block" onclick="genMap()">Search</button>
    <div id="map" style="width:524px;height:524px;"></div>
  </div>
  <div class = "container col-6 float-right">
  <form action="/runs" method="POST">
    <div class="form-row">
      <div class="col-6">
        <label class="float-left">Delivery Method</label>
      </div>
      <div class="col-4">
        <label class="float-left">Max Orders</label>
      </div>
    </div>
    <div class="form-row">
      <div class="col-6">
        <select class="form-control" name="delivery_method">
          <option value="pickup" selected>Pick Up</option>
          <option value="delivery">Delivery</option>
        </select>
      </div>
      <div class="col-4">
        <input type="number" class="form-control" name="max_orders" />
      </div>
    </div>
    <div class="form-row">
      <div class="col-6">
        <label class="float-left">Delivery Date</label>
      </div>
      <div class="col-6">
        <label class="float-left">Delivery Time</label>
      </div>
    </div>
    <div class="form-row">
        <div class="col-6">
            <div class="form-group">
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                  format: 'L'

                });
            });
        </script>
        <div class="col-6">
            <div class="form-group">
                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker({
                  format: 'LT'

                });
            });
        </script>

    </div>
    <div class="form-row">
    <div class="col-12">
      <label class="float-left">Notes</label>
    </div>
    <div class="col-12">
      <textarea class="form-control" style="width: 100%;" name="notes" rows="4"></textarea>
    </div>
  </div>
    <div class="form-row">
      <div class="col-1">
        <label class="float-left mt-1">
          <input type="submit" class="btn btn-success btn-medium" value="Create Run">
        </label>
  </form>
</div>
</div>
