
<div class="container nav-sep">
  <h2>Mark Boba as Picked Up:</h2>
  <hr>
  <form method="POST" action="/run_update" enctype="multipart/form-data">
  <div class="container">
    <div class="row">
      <label class="col-6" > Picture of Drinks </label>
      <label class="col-6" > Picture of Receipt </label>
    </div>
    <div class="row">
      <input name = "drinks" type="file" class="col-6" > Picture of Drinks </label>
      <input name = "receipt" type="file" class="col-6" > Picture of Receipt </label>
    </div>
    <div class="row">
      <btn type="submit">Save</btn>
    </div>
  </div>
</div>
